* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-image: url(/images/background-space.jpg);
     background-size: cover;
     background-repeat: no-repeat;
 }



 .theme-picker-container {
    width: 100vw;
    position: absolute;
    left: 0;
    top: 100px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding-top: 10px; 
    border-radius: 0 10px 10px 0; 
    margin-bottom: 30px;
}

button {
    background: none; 
    border: none;
}



i {
    font-size: 40px; 
    height: 40px;
    width: 50px;
    margin: 20px;
}

.fa-calculator {
    color: #3a4452;
    text-shadow: 1px 1px 10px rgba(131, 131, 131, 0.521);
}

.fa-apple {
    font-size: 45px;
    color: #fff;
    text-shadow: 1px 1px 10px rgb(131, 131, 131);
}

.fa-android {
    color: #72c472;
    text-shadow: 1px 1px 10px rgb(131, 131, 131);
}

.fa-rocket {
    color: #03e9f4;
    text-shadow: 1px 1px 10px rgb(131, 131, 131);
}

.fa-windows {
    color: #0177db;
    text-shadow: 1px 1px 10px rgb(131, 131, 131);
}


i:hover {
    transform: scale(1.2);
    transition: 0.1s all ease-in;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px; 
    border-radius: 20px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px; 
    border: 2px solid #ffffffc2; 
    border-radius: 10px; 
    background: transparent;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.calculator form input:hover:not(form .display input){
    background-color: #03e9f4; 
    color: #fff; 
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    border: 2px solid #03e9f4; 
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none; 
    cursor: text;
    padding-right: 5px;

}

form .display input:hover {
    color: #fff; 
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    border: 2px solid #03e9f4; 
}

form .display input:focus {
    color: #fff; 
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    border: 2px solid #03e9f4; 
}

form input.zero {
    width: 145px;
}



